# [ SQLite ]

In [ ]:
import sqlite3

conn = sqlite3.connect("EJsData.db")  #創建一個資料庫，如果已有這個資料庫，就跟他做連線

cursor = conn.cursor()  #指定游標？

cursor.execute('CREATE TABLE students (id text, name text, gender text)')  #建立資料表
#相當於： (用這個可以省略cursor這個東西)
sql = '''Create table studentsnew( 
        id int,
        name text,
        gender text)'''
conn.execute(sql)                     # 執行SQL指令

#conn.execute('''INSERT INTO studentsnew VALUES('001', 'Evelyn', 'W')''')#不知為何一直不成功，我也懶得弄了
#conn.commit()

cursor.close()                          # 關閉
conn.close()                            # 關閉資料庫連線

In [ ]:
cursor.execute('DROP TABLE students')  #'輸入SQL指令'：刪除students資料表
conn.execute('DROP TABLE studentsnew')

In [ ]:
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
print("請輸入myData3資料庫students表單資料")
while True:
    new_id = int(input("請輸入id : "))  # 轉成整數
    new_name = input("請輸入name : ")
    new_gender = input("請輸入gender : ")
    
    x = (new_id, new_name, new_gender)  #轉成tuple形式
    
    sql = '''insert into students values(?,?,?)'''   #在students資料表中插入
    conn.execute(sql,x)  #將x的3個資料丟進去sql
    conn.commit()                       # 更新資料庫
    again = input("繼續(y/n)? ")
    if again[0].lower() == "n":
        break
conn.close()                            # 關閉資料庫連線

In [ ]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
results = conn.execute("SELECT * from students")  #抓全部欄位
resultsSpecific = conn.execute("SELECT name form students")  #從students中抓name欄位

sql = '''SELECT name, gender
        from students
        where gender = "f"'''
results = conn.execute(sql)  #從students中抓name和gender欄位，並且gender只抓f的

for record in results:  #print資料
    print("id = ", record[0])
    print("name = ", record[1])
    print("gender = ", record[2])
    
allstudents = results.fetchall()        # 結果轉成元素是元組的串列tuple
for student in allstudents:
    print(student)
    
conn.close()                            # 關閉資料庫連線

In [ ]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
sql = '''UPDATE students
        set name = "Tomy"
        where id = 1'''
results = conn.execute(sql)  #把id = 1的欄位改成Tomy
conn.commit()                           # 更新資料庫
results = conn.execute("SELECT name from students")
allstudents = results.fetchall()        # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                            # 關閉資料庫連線

In [ ]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
sql = '''DELETE
        from students
        where id = 2'''
results = conn.execute(sql)
conn.commit()                           # 更新資料庫
results = conn.execute("SELECT name from students")
allstudents = results.fetchall()        # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                            # 關閉資料庫連線

# [ mySQLdb ]
密碼：Y.56

In [7]:
##創建資料庫

import MySQLdb

db = MySQLdb.connect(host = 'localhost', user = 'root', passwd = 'Yi503824916')  #連接root使用者

cursor = db.cursor()  #建立Cursor變數為使用上面定義的db變數內容

ejdata = 'CREATE DATABASE ej'  #用SQL語言建立ej的資料庫(在root中?)

cursor.execute(ejdata)  #執行ejdata變數所定義的程式碼

db.close()  #中斷連線root資料庫

In [11]:
import MySQLdb

db = MySQLdb.connect(host = 'localhost', user = 'root', passwd = 'Yi503824916')

cursor = db.cursor()

cursor.execute('DROP DATABASE myData')  #丟掉資料庫ej

db.close()

OperationalError: (1008, "Can't drop database 'mydata'; database doesn't exist")

In [8]:
#!/usr/bin/python

import MySQLdb

db = MySQLdb.connect("localhost","root","Yi503824916","ej" )

cursor = db.cursor()

cursor.execute("SELECT VERSION()")  #查看mysql的版本

data = cursor.fetchone()  # 結果轉成元素是元組的串列tuple
print("Database version : {}".format(data))

db.close()

Database version : ('8.0.32',)

In [12]:
##創建資料表

import MySQLdb

db = MySQLdb.connect("localhost","root","Yi503824916","ej" )

cursor = db.cursor()

# 建立EMPLOYEE資料表，內含：名(型別：最多20個字元)、姓、年齡(型別：整數)、性別(型別：1或0)、收入(型別：小數 之欄位
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

db.close()

OperationalError: (1050, "Table 'employee' already exists")

In [13]:
#在資料表中插入資料

import MySQLdb

db = MySQLdb.connect("localhost","root","Yi503824916","ej" )

cursor = db.cursor()

#依序插入資料
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   cursor.execute(sql) #執行
   db.commit()  #更新資料庫
except:
   # Rollback in case there is any error
   db.rollback()

db.close()

In [21]:
#查詢資料表

import MySQLdb

db = MySQLdb.connect("localhost","root","Yi503824916","ej" )

cursor = db.cursor()

#'*' = 全部，從EMPLOYEE資料表中選擇INCOME的欄位秀出
sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > '%d'" % (1000)
try:
    cursor.execute(sql)

    results = cursor.fetchall()   # 將所有解果轉成元素是元組的串列tuple
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]

        print("fname={},lname={},age={},sex={},income={}".format(fname, lname, age, sex, income ))
except:
    print("Error: unable to fecth data")

db.close()

In [15]:
#更新資料表中的資料 (把A換成B)

import MySQLdb

db = MySQLdb.connect("localhost","root","Yi503824916","ej" )

cursor = db.cursor()

#將EMPLOYEE資料表中的AGE欄位改成原來資料+1，其中SEX欄位改成?
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')

try:
   cursor.execute(sql)
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

db.close()

In [17]:
#刪除資料表中的資料

import MySQLdb

db = MySQLdb.connect("localhost","root","Yi503824916","ej" )

cursor = db.cursor()

#刪除EMPLOYEE資料表中的AGE>20的資料
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
   cursor.execute(sql)
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

db.close()

# [ GUI ]

In [3]:
#建立視窗

from tkinter import *

top = Tk()  #建一個GUI的框框
# Code to add widgets will go here...(可以加入任何元素)

#在上面建的top視窗中建一個文字方塊
L1 = Label(top, text="User Name")
L1.pack( side = LEFT)
E1 = Entry(top, bd =5)  #設一個Entry，就有一個可以輸入的空間
E1.pack(side = RIGHT)


#在視窗中建一個按鈕
gui = Tk(className='Python GUI Tutorial - by TutorialKart')
button = Button(gui, text='Submit', width=50, height=4, bg='#33CC33', fg='#FFFFFF', activebackground='#44DD44', activeforeground='#FFFFFF')
button.pack()

top.mainloop()

TclError: can't invoke "button" command: application has been destroyed

In [ ]:
#建立文字區域，視窗內可以瘋狂打字

from tkinter import *

def onclick():
    pass

root = Tk()
text = Text(root)
text.insert(INSERT, "Hello.....")
text.insert(END, "Bye Bye.....")
text.pack()

text.tag_add("here", "1.0", "1.4")
text.tag_add("start", "1.8", "1.13")
text.tag_config("here", background="yellow", foreground="blue")  #設定背景參數
text.tag_config("start", background="black", foreground="green")
root.mainloop()

In [ ]:
#建立卷軸

from tkinter import *

root = Tk()
scrollbar = Scrollbar(root)
scrollbar.pack( side = RIGHT, fill = Y )

mylist = Listbox(root, yscrollcommand = scrollbar.set )
for line in range(100):  #加入每個選項
    mylist.insert(END, "This is line number " + str(line))

mylist.pack( side = LEFT, fill = BOTH )
scrollbar.config( command = mylist.yview )

mainloop()

In [ ]:
#建立選項紐

from tkinter import *

def sel():
    selection = "You selected the option " + str(var.get())
    label.config(text = selection)

root = Tk()
var = IntVar()
R1 = Radiobutton(root, text="Option 1", variable=var, value=1,
                  command=sel)
R1.pack( anchor = W )

R2 = Radiobutton(root, text="Option 2", variable=var, value=2,
                  command=sel)
R2.pack( anchor = W )

R3 = Radiobutton(root, text="Option 3", variable=var, value=3,
                  command=sel)
R3.pack( anchor = W)

label = Label(root)
label.pack()
root.mainloop()

In [ ]:
#建立核取方塊

from tkinter import *
import tkinter.messagebox

top = Tk()
CheckVar1 = IntVar()
CheckVar2 = IntVar()
C1 = Checkbutton(top, text = "Music", variable = CheckVar1, \
                 onvalue = 1, offvalue = 0, height=5, \
                 width = 20)
C2 = Checkbutton(top, text = "Video", variable = CheckVar2, \
                 onvalue = 1, offvalue = 0, height=5, \
                 width = 20)
C1.pack()
C2.pack()
top.mainloop()

In [ ]:
#建立對話框

import tkinter
from tkinter import messagebox

# hide main window
root = tkinter.Tk()
root.withdraw()  #收回?

# message box display
messagebox.showerror("Error", "Error message")
messagebox.showwarning("Warning","Warning message")
messagebox.showinfo("Information","Informative message")

In [ ]:
#建立圖型

from tkinter import *

# pip install pillow
from PIL import Image, ImageTk

class Window(Frame):
    def __init__(self, master=None):
        Frame.__init__(self, master)
        self.master = master
        self.pack(fill=BOTH, expand=1)
        
        load = Image.open("cat.jpg")  #把照片讀進來
        render = ImageTk.PhotoImage(load)  #用TK.PhotoIMage把他load進來
        img = Label(self, image=render)
        img.image = render
        img.place(x=0, y=0)

        
root = Tk()
app = Window(root)
root.wm_title("Tkinter window")
root.geometry("200x120")
root.mainloop()

In [ ]:
#建立功能表

from tkinter import *

def donothing():
    filewin = Toplevel(root)
    button = Button(filewin, text="Do nothing button")
    button.pack()

root = Tk()
menubar = Menu(root)
filemenu = Menu(menubar, tearoff=0)
filemenu.add_command(label="New", command=donothing)  #可以加很多的項目
filemenu.add_command(label="Open", command=donothing)
filemenu.add_command(label="Save", command=donothing)
filemenu.add_command(label="Save as...", command=donothing)
filemenu.add_command(label="Close", command=donothing)

filemenu.add_separator()

filemenu.add_command(label="Exit", command=root.quit)
menubar.add_cascade(label="File", menu=filemenu)
editmenu = Menu(menubar, tearoff=0)
editmenu.add_command(label="Undo", command=donothing)

editmenu.add_separator()

editmenu.add_command(label="Cut", command=donothing)
editmenu.add_command(label="Copy", command=donothing)
editmenu.add_command(label="Paste", command=donothing)
editmenu.add_command(label="Delete", command=donothing)
editmenu.add_command(label="Select All", command=donothing)

menubar.add_cascade(label="Edit", menu=editmenu)
helpmenu = Menu(menubar, tearoff=0)
helpmenu.add_command(label="Help Index", command=donothing)
helpmenu.add_command(label="About...", command=donothing)
menubar.add_cascade(label="Help", menu=helpmenu)

root.config(menu=menubar)
root.mainloop()